# This is a configuration file for MySQL export script
# Created May 4th 2018 by Siggi Bjarnason

# Database stuff
Server=10.65.46.144                  # IP or name of the MySQL server
dbUser=                              # Your database username
dbPWD=                               # Your Database Password
InitialDB=Qualys_Portal              # Initial database, i.e. the name of the database you use the most
Query=select * from vwHostDetectOwnerDetailAll where iQID in (87313,87333);  # The query you want executed

# Other stuff
CSVFileName=C:\temp\WebLogic87313-87333-050618-2.csv
FieldSeperate=,   # How do you wish to seperate each field/columns in the output file.
AltDelim=;        # If a field contains chosen Field seperator, what should it be replaced with

#Notification stuff
NotificationURL=https://slack.com/api/chat.postMessage   # Main Slack API URL
NotifyChannel=               # The slack ID for the notification receipient.
NotifyToken=                 # Auth Token for the Slack Notifications Bot
