# This is a configuration file for MySQL export script
# Created May 4th 2018 by Siggi Bjarnason

# Database stuff
Server=10.65.46.144                  # IP or name of the MySQL server
dbUser=                              # Your database username
dbPWD=                               # Your Database Password
InitialDB=Qualys_Portal              # Initial database, i.e. the name of the database you use the most
Query=select * from vwHostDetectOwnerDetailAll where iQID in (87313,87333);  # The query you want executed

# Other stuff
CSVFileName=C:\temp\WebLogic87313-87333-050618-2.csv
FieldSeperate=,   # How do you wish to seperate each field/columns in the output file.
AltDelim=;        # If a field contains chosen Field seperator, what should it be replaced with

#Notification stuff
NotificationURL=https://slack.com/api/chat.postMessage   # Main Slack API URL
NotifyChannel=G9B0PDY73  # The notification receipient. G9B0PDY73 is the ID for for slack channel "pa-automation" replace with your ID to send direct message
NotifyToken=xoxb-320383731716-XqHkBgzj3sGh1SWwZKn609Nt   # Auth Token for the Platform Assurance Notifications Bot